@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

body{
	font-family: 'Montserrat', sans-serif !important;
}
section{
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(73,683,312)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23F4F4F4'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='896' height='746.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

/*Navbar*/
.navbar{
	background-color: rgb(52,51,83) !important;
	border-bottom: 1px solid grey;
}
.navbar-brand{
	color: white;
}
.navbar-brand:hover{
	color:white;
}

.nav-link{
	color:white !important;
	font-size: 14px !important;
	margin-right: 10px;
}
.nav-link::after{
	border-bottom: 3px solid #f7f7f7;
	content: '';
	display: block;
	width: 0%;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -8px;
	transition: 0.2s ease-in;
}
.nav-link:hover::after{
	width: 80%;
}
/* End Navbar*/


/*Home*/
.home {
	height: 700px !important;
	background-image: url(../img/confeti.svg);
}
.title{
	padding-top: 160px;
	color:white;
	text-align: center;

}
.title img{
	width: 100px;
	height: 100px;
}
.title a{
	color: white;
	text-decoration: none;
}
.title a:hover{
	color: white !important;

}
.name{
	font-size: 45px;
	margin-top: -20px;
	margin-bottom: 0;
	font-weight: 600;
}
.web{
	font-size: 25px;
	margin-top: -30px;
	font-weight: 100;
}
.icon{
	font-size: 35px;
	margin: 5px;
}
.tombol{
	display: inline-block;
	background-color: rgb(228, 74, 74) !important;
	color: rgb(231, 231, 231) !important;
	margin-top: 40px;
	padding: 10px;
	border-radius: 35px !important;
	height: 50px !important;
	width: 150px !important;
	text-decoration: none;
}
/*End Home*/


/*About*/

.about{
	height: 600px !important;
}

.t{
	font-size: 45px !important;
	color: rgb(52,51,83) !important;
}

.t img{
	height: 210px;
	width: 200px;
	/*margin-right: 20px;*/
	border-radius: 100px;
	border: 3px solid rgb(52,51,83);
	border-style: dashed;
	padding: 7px;
	
}

.balon{
	width: 600px;
	height: 200px;
	background-color: white;
	border-radius: 25px;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	box-shadow: 0px 0px 10px gray;
}
.balon p{
	font-size: 20px;
}

/*End About*/


/*Skill*/
.skill{
 height: 600px !important;	
 
}

.skill span{
	font-size: 45px !important;
	color: rgb(52,51,83) !important;
}

.skill i{
	font-size: 120px;
}
.tl{
	font-size: 25px !important;
	font-weight: 700;
	text-transform: uppercase;
	color:rgb(52,51,83);
	
}
.iconify{
	font-size: 120px;
	color: red;
}

.ikon{
	margin-top: 30px !important;
	text-align: center;
}
/*end Skill*/

/*Project*/
.project{
	height: 600px !important;
}
.project span{
	font-size: 45px ;
	color: rgb(52,51,83) !important;
}

.kard{
	width: 20rem;	
	height: 24rem;
	background-color:white ;
	box-shadow: 0px 0px 10px #a5a5a5;
}
.kard img{
	width: 20rem;
}
.kard-body span{
	margin-left: 15px;
	margin-top:20px;
}
.kard-body span i{
	font-size: 30px !important;
}
.kard-body .iconify{
	font-size: 30px !important;
	margin-bottom: 3px;
}
.kard-text{
	margin-left: 15px;
	margin-top:10px;
	margin-right: 15px;
	font-size: 14px;
}
.kard-text strong{
	font-size: 16px;
}
.kard-body .bt{
	margin: 15px;
	text-decoration: none;
	border: 2px solid black;
	padding: 6px;	
	color: black !important;
}
/*end Project*/


/*contact*/
.contact{
	height: 450px !important;
}

.contact span{
	font-size: 45px !important;
	color: rgb(52,51,83) !important;
}
.form-contact{
	width: 700px;
	margin-left: 20px;
	margin-top: 30px;
}
/*end contact*/

/*footer*/
.footer{
	height: 40px;
	background-color: rgb(52,51,83) !important;
	color:white;
}
@media (max-width: 576px) {
	
	/*home*/
	.home {
		background-image: url(../img/confeti.svg);
		background-size: cover;
	}
	.title{
		padding-top: 230px;
		color:white;
		text-align: center;
	
	}
	.title img{
		width: 70px;
		height: 70px;
	}
	.title a{
		color: white;
		text-decoration: none;
	}
	.title a:hover{
		color: white !important;
	
	}
	.name{
		font-size: 25px;
		margin-top: -20px;
		margin-bottom: 0;
		font-weight: 600;
	}
	.web{
		font-size: 15px;
		margin-top: -30px;
		font-weight: 100;
	}
	.icon{
		font-size: 27px;
		margin: 5px;
	}
	.tombol{
		display: inline-block;
		font-size: 15px;
		background-color: rgb(228, 74, 74) !important;
		color: rgb(231, 231, 231) !important;
		margin-top: 40px;
		padding: 10px;
		border-radius: 35px !important;
		height: 45px !important;
		width: 120px !important;
		text-decoration: none;
	}

	/*about*/
	.about{
		height: 450px !important;
		margin-top: 50px;
	}
	.t{
		font-size: 30px !important;
		color: rgb(52,51,83) !important;
	}
	.t img{
		height: 110px;
		width: 110px;		
		border-radius: 100px;
		border: 3px solid rgb(52,51,83);
		border-style: dashed;
		padding: 7px;
	}
	
	.balon{
		width: 230px;
		height: 160px;
		background-color: white;
		border-radius: 20px;
		padding-left: 15px;
		padding-top: 15px;
		padding-right:15px;
		box-shadow: 0px 0px 10px gray;
	}
	.balon p{
		font-size: 10px;
	}

	/*skill*/
	.skill{
	height: 600px !important;	
	
	}
	
	.skill span{
		font-size: 35px !important;
		color: rgb(52,51,83) !important;
	}
	
	.skill i{
		font-size: 70px;
	}
	.tl{
		font-size: 15px !important;
		font-weight: 700;
		text-transform: uppercase;
		color:rgb(52,51,83);
		
	}
	.iconify{
		font-size: 70px;
		color: red;
	}
	
	.ikon{
		margin-top: 15px !important;
		text-align: center;
	}

	/*project*/
	.project{
		height: fit-content !important;
		
	}
	.project span{
		font-size: 35px ;
		color: rgb(52,51,83) !important;
	}
	
	.kard{
		width: 20rem;	
		height: 24rem;
		box-shadow: 0px 0px 10px #dddddd;
		margin-top: 2rem;
		margin-left: 25px;
	}
	.kard img{
		width: 20rem;
	}
	.kard-body span{
		margin-left: 15px;
		margin-top:20px;
	}
	.kard-body span i{
		font-size: 30px !important;
		margin-top: 10px;
	}
	.kard-body .iconify{
		font-size: 30px !important;
		margin-bottom: 8px;
	}
	.kard-text{
		margin: 15px;
	}
	.kard-text strong{
		font-size: 18px;
	}
	.kard-body .bt{
		margin: 15px;
		text-decoration: none;
		border: 2px solid black;
		padding: 6px;	
		color: black !important;
	}

	/*Contact*/
	.contact{
		height: 500px !important;
		padding-top: 50px;
	}
	
	.contact span{
		font-size: 35px !important;
		color: rgb(52,51,83) !important;
	}
	.form-contact{
		width: 100%;
		margin-left: 0px !important;
		margin-top: 30px;
	}
}
